[Unit]
Description=Calibre Container
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5s

# 关键修改：添加了 --userns=keep-id 和 PUID/PGID
ExecStart=/usr/bin/podman run \
  --replace \
  --rm \
  --name=calibre \
  --log-driver=journald \
  -e TZ=Asia/Shanghai \
  -e PUID=1000 \
  -e PGID=1000 \
  -e PASSWORD=110 \
  -e CLI_ARGS=abc \
  -p 8081:8181 \
  -v /data/appdata/calibre:/config:Z \
  -v "/data/books:/config/calibre library:z" \
  -v /data/epub:/epub:Z \
  lscr.io/linuxserver/calibre:latest

ExecStop=/usr/bin/podman stop -t 10 calibre

[Install]
WantedBy=default.target