[Unit]
Description=Cloudflare Tunnel Container
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5s

ExecStart=/usr/bin/podman run \
  --replace \
  --rm \
  --name cloudflared \
  --label "io.containers.autoupdate=registry" \
  --network=host \
  --env-file /home/huai/token.env \
  docker.io/cloudflare/cloudflared:latest \
  tunnel --no-autoupdate http2 run

ExecStop=/usr/bin/podman stop -t 10 cloudflared

[Install]
WantedBy=default.target
