[Unit]
Description=Emby Container
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5s

ExecStart=/usr/bin/podman run \
  --replace \
  --rm \
  --init \
  --name=emby \
  --log-driver=journald \
  -e TZ=Asia/Shanghai \
  -p 8096:8096 \
  -v /data/appdata/emby:/config:Z \
  -v /data/media:/media:ro,z \
  -v /data/MiSans:/usr/local/share/fonts/truetype/MiSans:Z \
  --device=/dev/dri:/dev/dri \
  docker.io/emby/embyserver:latest

ExecStop=/usr/bin/podman stop -t 10 emby

[Install]
WantedBy=default.target