[Unit]
Description=Homepage Container
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5s

ExecStart=/usr/bin/podman run \
  --replace \
  --rm \
  --init \
  --name=home \
  --log-driver=journald \
  -p 3000:3000 \
  -e PORT=3000 \
  -e HOMEPAGE_ALLOWED_HOSTS=* \
  -v /data/appdata/homepage:/app/config:Z \
  -v /data/appdata/homepage/icons:/app/public/icons:Z \
  -v /data/media/Pictures:/app/public/Pictures:Z \
  -v /run/user/1000/podman/podman.sock:/var/run/docker.sock \
  ghcr.io/gethomepage/homepage:latest

ExecStop=/usr/bin/podman stop -t 10 home

[Install]
WantedBy=default.target
