[Unit]
Description=Komga Container
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=5s

ExecStart=/usr/bin/podman run \
  --replace \
  --rm \
  --name=komga \
  -e PUID=0 \
  -e PGID=0 \
  -p 25600:25600 \
  -v /data/appdata/komga:/config:Z \
  -v /data/books:/data:z \
  gotson/komga:latest

ExecStop=/usr/bin/podman stop -t 10 komga

[Install]
WantedBy=default.target
