[Unit]
Description=Music Tag Web Container
Wants=network-online.target
After=network-online.target

[Service]
Restart=unless-stopped

# 核心启动命令
ExecStart=/usr/bin/podman run \
  --rm \
  --name=music_tag_web \
  -e TZ=Asia/Shanghai \
  -p 8002:8002 \
  -v /data/media/Music:/app/media:Z \
  -v /data/appdata/music_tag_web:/app/data:Z \
  -v /data/appdata/music_tag_web/ffmpeg/bin:/app/data/bin:Z \
  docker.io/xhongc/music_tag_web:latest

# 优雅地停止容器
ExecStop=/usr/bin/podman stop -t 10 music_tag_web

[Install]
WantedBy=default.target
