[Unit]
Description=Plex Container
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5s

# === 启动前等待 10 秒 ===
ExecStartPre=/usr/bin/sleep 10

ExecStart=/usr/bin/podman run \
  --replace \
  --rm \
  --name=plex \
  --log-driver=journald \
  -p 32400:32400 \
  -e PUID=0 \
  -e PGID=0 \
  -e VERSION=docker \
  -v /data/appdata/plex:/config:Z \
  -v /data/media/Music:/media/Music:ro,z \
  --device=/dev/dri:/dev/dri \
  docker.io/linuxserver/plex:latest

ExecStop=/usr/bin/podman stop -t 10 plex

[Install]
WantedBy=default.target