# ---------------------------------------------------------
# [1] Core Utilities
# ---------------------------------------------------------
alias ls='ls --color=auto'
alias grep='grep --color=auto'
# ---------------------------------------------------------
# [2] System & Maintenance
# ---------------------------------------------------------
# Sleep 60s then shutdown
alias P="sleep 60 && systemctl poweroff"
alias R="systemctl reboot"
alias rsyncdir="rsync -avzh --delete"

# ---------------------------------------------------------
# [3] PipeWire Audio Control
# ---------------------------------------------------------
alias v+="wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+"
alias v-="wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-"
alias mute="wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"

# ---------------------------------------------------------
# [4] Scripts & SSH Management
# ---------------------------------------------------------
alias win="/usr/bin/bash /home/huai/.config/win.sh"
alias wol="/usr/bin/bash /home/huai/.config/wol.sh"

# SFTP (SSHFS) Mount Function
mount-data() {
    if ! mountpoint -q /data; then
        ssh-add -l >/dev/null 2>&1 || key
        sshfs nas:/data /data
    fi
}
