**/mihomo-windows-amd64.exe
**/sing-box.exe
**/.config/mpd/log
**/.config/mpd/state
**/.config/mpd/socket
**/huai/.config/mpd/sticker.sql
**/.idea/
**/.venv/
**/__pycache__/
**/bajie
**/mitce
**/westdata
**/.pdm-python
**/cache/
**/.env
**/node.json
**/node.yaml
**/default.target.wants/
arch/huai/.config/systemd/user/*
!arch/huai/.config/systemd/user/shutdown.service
!arch/huai/.config/systemd/user/dwm-status.service


