
**/.config/mpd/log
**/.config/mpd/state
**/.config/mpd/socket
**/huai/.config/mpd/sticker.sql
**/.idea/
**/.venv/
**/__pycache__/
**/bajie
**/mitce
**/westdata
**/.pdm-python
**/cache/
**/.env
/debian/huai/.config/btop/
/debian/huai/.config/fcitx5/
/debian/huai/.config/fcitx/
/debian/huai/.config/freerdp/
/debian/huai/.config/remmina/
/debian/huai/.config/ibus/
/debian/huai/.config/mimeapps.list
/debian/huai/.config/pulse/
/debian/huai/.config/systemd/
/debian/huai/.config/mpd/database
/debian/huai/.config/pavucontrol.ini


