[Unit]
Description=Renew acme.sh certificates for user huai
# 确保在网络连接正常后才运行，这对于证书续期至关重要
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
# 这里是您 crontab 中的核心命令，我们去掉了 > /dev/null
# systemd 会自动处理日志记录
ExecStart=/home/huai/.acme.sh/acme.sh --cron --home /home/huai/.acme.sh