[Unit]
# Optimized for read-only 1080p streaming
Description=rclone OneDrive User Mount Read-Only

[Service]
Type=simple
# Emby requires allow-other to read fuse mounts from podman
ExecStart=/usr/bin/rclone mount onedrive: /data/media/onedrive \
    --config=/home/huai/.config/rclone/rclone.conf \
    --read-only \
    --allow-other \
    --vfs-cache-mode off \
    --dir-cache-time 1000h \
    --poll-interval 0 \
    --buffer-size 64M \
    --vfs-read-chunk-size 32M \
    --log-level ERROR
ExecStop=/usr/bin/fusermount -u /data/media/onedrive
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target