[Unit]
Description=clash
Wants=network-online.target
After=network-online.target

[Service]
# 启动命令
ExecStart=/usr/bin/podman run \
  --name clash \
  --replace \
  --workdir /usr/src/myapp \
  -p 5002:5002 \
  -v /root/clash:/usr/src/myapp:z \
  docker.io/library/python:3 \
  /usr/src/myapp/start.sh

# 停止命令
ExecStop=/usr/bin/podman stop -t 10 clash

# 重启策略
Restart=unless-stopped

[Install]
WantedBy=default.target