[Unit]
Description=m-box
Wants=network-online.target
After=network-online.target

[Service]
# 启动命令
ExecStart=/usr/bin/podman run \
  --name m-box \
  --replace \
  --workdir /usr/src/myapp \
  -p 5001:5001 \
  -v /root/m-box:/usr/src/myapp:z \
  docker.io/library/python:3 \
  /usr/src/myapp/start.sh

# 停止命令
ExecStop=/usr/bin/podman stop -t 10 m-box

# 重启策略
Restart=unless-stopped

[Install]
WantedBy=default.target