[Unit]
Description=MCOnline Telegram Bot Service (Podman)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5

ExecStart=/usr/bin/podman run \
  --name mconline_bot \
  --replace \
  --rm \
  --init \
  --log-driver=journald \
  --env PYTHONUNBUFFERED=1 \
  -p 5007:5007 \
  --env-file /root/mconline_bot/.env \
  -v /root/mconline_bot/yao_online.txt:/app/yao_online.txt \
  localhost/mconline_bot:latest

ExecStop=/usr/bin/podman stop -t 10 mconline_bot

[Install]
WantedBy=multi-user.target