[Unit]
Description=Nginx Container (Host Network)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5s
TimeoutStopSec=10

ExecStart=/usr/bin/podman run \
  --name nginx \
  --replace \
  --rm \
  --network=host \
  --log-driver=journald \
  -v /root/nginx/202309.xyz.conf:/etc/nginx/conf.d/default.conf:ro,Z \
  -v /root/nginx/map.conf:/etc/nginx/conf.d/map.conf:ro,Z \
  -v /root/nginx/headers.inc:/etc/nginx/conf.d/headers.inc:ro,Z \
  docker.io/nginx:latest

ExecStop=/usr/bin/podman stop -t 10 nginx

[Install]
WantedBy=multi-user.target