[Unit]
Description=Sing-box SS Exit Node (Podman)
After=network-online.target

[Service]
Restart=always
RestartSec=5s
# 启动前清理同名残留容器
ExecStartPre=-/usr/bin/podman rm -f sing-box-ss
# 使用 host 网络模式，剥离 NAT 开销，追求极致网络性能
ExecStart=/usr/bin/podman run \
    --replace \
    --name sing-box-ss \
    --network host \
    -v /root/config.json:/etc/sing-box/config.json:ro \
    ghcr.io/sagernet/sing-box:latest \
    run -c /etc/sing-box/config.json
# 优雅停止容器
ExecStop=/usr/bin/podman stop -t 2 sing-box-ss

[Install]
WantedBy=multi-user.target